<!DOCTYPE html>
<html lang="en">

<head>
    <title>Elite Dangerous Modules</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Elite Dangerous Modules</h3>
        </div>
        <div>
          <button type="button" class="btn btn-default">Update figures</button>
        </div>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Modules and types</div>

          <table class=table>
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope=row>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr> <tr>
                <th scope=row>2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope=row>3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>

        <footer class="footer">
            <p>&copy; Rusty 2017</p>
        </footer>

    </div>
</body>

</html>
